
<div class="container">
  <div class="text text-small" style=" width: 100%; color: black;margin-top: 5%; border-radius: 16%;">
   <!--
      <div class="card card-body " id="faces" style="height: auto;" >
        <img [src]="dip" height=25%   width=100% id="face1" class="img-fluid img-thumbnail"> 
        </div>-->
    <color-circle [colors]="colorarray" (onChange)="setStroke($event)"></color-circle>
    <a class="btn"  id='text' data-toggle="collapse" data-target="#texts" aria-expanded="false" aria-controls="texts" (click)="createText($event)" style="width: 35%; margin-top: 0%;margin-left: 2%; width: 5%;"><img src="https://img.icons8.com/office/16/000000/type.png"/></a>  
    <a class="btn" data-toggle="collapse" data-target="#import" aria-expanded="false" aria-controls="import" style="width: 40%;margin-top: 0%; margin-left: 2%; width: 5%; background-color: brown;">
    
      <i class="fa fa-file-upload fa-2x"></i></a>
  
   <a class="btn btn-lg" style="width: 40%;margin-top: 0%; margin-left: 2%; width: 5%;" (click)="saveText()">
 
     <i class="fad fa-save"></i></a>
  
     <div  *ngIf="loading" style="width: 200px;height: 200px; margin: 10 10 10 10;">
      <mat-progress-spinner
      class="sipinner"
      [color]="color"
      [mode]="mode"
      [value]="value">
  </mat-progress-spinner>
  
    </div>
    <a class="btn btn-lg"  style="width: 40%;margin-top: 0%; margin-left: 2%; width: 5%;" >

      <i class="fas fa-undo" (click)="customizeImage()"></i>
    </a>
     <a class="btn btn-lg"  style="width: 40%;margin-top: 0%; margin-left: 2%; width: 5%;" >

       <i class="fad fa-directions" (click)="turnImage()"></i></a>
       
       <img [src]="dip" height=15%   width=15% id="face1" class="img-fluid img-thumbnail" (click)="customizeImage()"> 

     <div class="collapse" id="import">
       <div class="card carde card-body" style="height: 100px; width: auto;">
           <input type="file" id="upload" name="link" class="file-upload" (change)="onFileUpload($event)" >
           <img [src] ="image" (click)="setLogo($event)">
       
     </div> 
   </div>

    <div class="" (contextmenu)="OnRightClick($event)" >
      <canvas id="canvas" height="650" width="750"></canvas>
      <a data-toggle="modal" data-target="#exampleModal" id="xdv" hidden>
       </a>
  </div>

    </div>
  </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body modale">
            <a  data-toggle="tooltip" data-placement="top" title="Mettre en gras" (click)="makeBold()">
            <i  class="far fa-bold"></i>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="Italic" (click)="makeItalic()">
            <i class="far fa-italic"></i>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="Sourligner" (click)="underlineText($event)">
            <i class="far fa-underline"></i>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="police" >
            <i class="far fa-font" data-toggle="modal" data-target="#exaModal"></i>
            <div class="modal fade" id="exaModal" tabindex="-1" aria-labelledby="exaModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content" style="margin-bottom: 165px;">
                  <div class="modal-body">
  
                      <select   name="font" id="family" (change)="changeFont($event)" >
                      </select>
                     
                  </div>
                </div>
                </div>
              </div>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="Supprimer" (click)='removeText()'>
            <i style="color: red;" class="far fa-trash-alt"></i>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="Copier" (click)="copy()">
            <i class="far fa-copy"></i>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="Coller" (click)="paste()">
            <i class="far fa-paste"></i>
            </a>
            <a  data-toggle="tooltip" data-placement="top" title="annulé" (click)="setTextBeforeEDit()">
            <i class="far fa-sync"></i>
            </a>
            <color-circle [colors]="colorarray" (onChange)="changeComplete($event)"></color-circle>
          </div>
         
        </div>
  
        
      </div>
  
  

</div>
   