
.container{
  margin-top: 90px;
  width: 100%;
  font-family: 'Poppins',sans-serif;

}
.example-margin {
  margin: 0 10px;
}
.nav-sous{
  width: 100%;
}
.nav-tabs{
  width: 100%;
}
.nav-link{
  width: 25%;
}
section{
  margin-top: 25px;
}
.row{
  text-align:center;
}
.eye{
  background-color: #27b963;
  //width: 67px;
  height: 50px;
  color: white;
  text-align: center;
  position: relative;
}
.fal{
  margin-top: 8px;
}
.card{
  height: 180px;
}
.fixed-top{
  background-color: #324161;
  color: white;
}
.fa-bell{
  color: white;
}
.card1{
  height: 340px;
}
.livre{
  margin-right: 129px;
  margin-top: 30px;
  border: none;
  width: 75px;
  height: 31px;
  color: white;
  background:#27b963;
}
.img{
  float: left;
  border: solid 1px #27b963;
}
h6{
  position: relative;
  bottom: 56px;
  right: 72px;
}
strong{
  position: relative;
  bottom: 24px;
  right: -43px;
}
.date{
  font-size: 12px;
  color: green;
  position: relative;
  bottom: 38px;
  right: 23px;
}
.card3{
  height: auto;
}
.ey{
  background-color: #19b5fe;
  width: 67px;
  height: 50px;
  color: white;
  //text-align: center;
  position: relative;
}
.p{
  font-size: 13px;
  margin-left: 16px;
  margin-top: 13px;
  font-weight: bold;
  font-family:'Poppins',sans serif;
}
.str{
  margin-top: 27px;
  /* margin-right: 2px; */
  left: 6px;
  font-size:20px;
}
.dist{
  display: flex;
  position: relative;
  bottom: 47px;
  left: 83px;
}
.table{
  width:100%;
  text-align: center;
  border: solid 1px grey;
}
.th{
  width:25%;
 
} 
.table>:not(:last-child)>:last-child>*{
  border-bottom-color:none;
}
.requete{
  display: flex;
}
form{
  margin-top:12px;
 //margin-left: 306px;
}
.faire{
  width:auto;
 
}
.nav-pills .nav-link{
  font-size:15px;
  font-weight: bold;
  color: #324161;
  font-family: 'Poppins';
}
.navba{
  margin-top: 12px;
}
h3{
  margin-top:8px;
  font-family:'Poppins',sans serif;
  font-weight:bold;
  color:#324161;
}
input{
  outline:none;
}
tr td{
  vertical-align: middle;
}
.scope{
  width: 25px;
}
button{
  border:none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #324161;
  color: white;
}
.nav-tabs .nav-link.nav-link.active, .nav-pills .show>.nav-link
{
  font-size: medium;
  font-weight: bold;
  background: #fab91a;
  border: solid 2px;
  border-bottom: none;
}
.nav-tabs .nav-link{
  font-size: medium;
  font-weight: bold;
 
}

//css order
.header-text{
  color: #324161;
}

.cart-block{
  margin:1% 0% 4% 0%;
}

.text-right{
  font-weight: bold;
}

.total{
  font-weight: bold;
}

.entete{
  font-weight: bold;
}

.text-center{
  margin-bottom: 10px;
}

// barre de recherche et tri ....
.wrap{
  padding: 0 20px;
}

.wrap h1.heading-inline {
  display: inline-block;
  margin-right: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #324161;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}

.header-end {
  visibility: hidden;
  margin: -2px 0 0;
}

.subsubsub {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  font-size: 13px;
  float: left;
  color: #646970;
}

.subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.subsubsub a.current {
  color: #000;
  font-weight: 600;
  border: none;
}

.subsubsub a {
  line-height: 2;
  padding: .2em;
  text-decoration: none;
}

.subsubsub a .count, .subsubsub a.current .count {
  color: #50575e;
  font-weight: 400;
}

a, div {
  outline: 0;
}
p {
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
}
form {
  display: block;
  margin-top: 0em;
}



.screen-reader-text, .screen-reader-text span {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal!important;
}

input[type=search] {
  -webkit-appearance: textfield;
}


input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}

p .button {
  vertical-align: baseline;
}

p.search-box {
  float: right;
  margin: 0;
}


.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
  float: left;
  margin: 0 4px 0 0;
}

.button,.button-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.button,.button-secondary {
  color: #2271b1;
  border-color: #2271b1;
  background: #f6f7f7;
  vertical-align: top;
}
.tablenav {
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  padding-top: 5px;
  vertical-align: middle;
}

.tablenav .actions {
  overflow: visible;
}

.tablenav .actions {
  padding: 0 8px 0 0;
}

.tablenav .actions select {
  float: left;
  margin-right: 6px;
  max-width: 12.5rem;
}

select {
  font-size: 14px;
  line-height: 2;
  color: #2c3338;
  border-color: #8c8f94;
  box-shadow: none;
  border-radius: 3px;
  padding: 0 24px 0 8px;
  min-height: 30px;
  max-width: 25rem;
  -webkit-appearance: none;
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
  background-size: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.alignleft {
  float: left;
}

.tablenav input,
.tablenav select,
.tablenav input,
.tablenav select {
  height: 32px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #ededed;
  color: white;
}
input[type=checkbox]:checked::before {
  content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E);
  margin: -.1875rem 0 0 -.25rem;
  height: 1.3125rem;
  width: 1.3125rem;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before {
  //float:left;
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  //speak: never;
  -webkit-font-smoothing: antialiased;
}


th#select-all {
  width: 10px;
}

.cours{
  background-color: #60beb3;
}

.text-table{
  color: #2271b1;
}

.text-aladin{
  color: #324161;
  font-weight: bold;
}
.text-header{
  color: #2271b1;
}

span{
  font-weight: bold;
  font-size: 14px;
}

.text-detail{
  margin: 0;
  font-style: italic;
}
//css register users
.form-row{
  margin: 19px;

}
.btne{
  width: 100%;
  background: #324161;
  color: white;
  font-family: 'Poppins';
  height: 50px;
  //margin-left: 8px;
}

input:focus{
  outline: none;
  box-shadow: none;
  border:solid 1px #324161;
}
input:hover{
  border: solid 1px #fab91a;
}
select:focus{
  box-shadow: none;
}
select:hover{
  border: solid 1px #fab91a;
}

.listeuser{
  width: 76%;
}
//fin ORDER

@media screen and (max-width:1250px) {
  .col-2{
      width: 100%;
      margin:10px;
  }
  .col-4{
      width: 100%;
      margin:10px;
  }
  .col-8{
      width:100%;
      margin:6px;
  }
  .p{
      font-size:12px;
      color:#19b5fe;
  }
  .dist{
      display: block;
  left: auto;
  }
  #nav-Partenaires{
      margin-left: 12px;
  }
  .nav-tabs .nav-link {
      width: 100%;
  }
}
.use{
width: auto;

}